#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.hidden {
  display: none;
}

.searchResults{
  alignment: left;
  padding: 20px;
  margin-top: 100px;
}

.defaultHeader{
  font-size: 25px;
  padding: 15px;
  font-weight: bold;
}

.searchedHeader{
  font-size: 25px;
  padding: 15px;
  position: fixed;
  top:0;
  left:0;
  font-weight: bold;
}

input {
  padding: 15px;
  background-color: white;
  border: 2px solid black;
  color: #111;
  font-size: 15px;
  box-shadow: 3px 1px 0px 2px, 0px -1px 0px 2px rgba(0, 0, 0, 0.62);
  transform: skew(-3deg, 1deg);
  font-family: 'Knewave', cursive;
  letter-spacing: 2px;
  text-transform: uppercase;
}

.cool {
  box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px, rgba(60, 64, 67, 0.15) 0px 2px 6px 2px;
  padding: 30px;
  border-radius: 25px;
}


.defaultSearchBar {
  width: 100%;
}

.searchedSearchBar{
  position: fixed;
  top: 50px;
  left: 10px;
  width: 75%;

}

.logo:hover {
  filter: drop-shadow(0 0 2em #646cffaa);
}
.logo.react:hover {
  filter: drop-shadow(0 0 2em #61dafbaa);
}

@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
}

.card {
  padding: 2em;
}

.randomQuote {
  padding: 10px;
}


